@page "/"
@inject IJSRuntime JSRuntime
@using System.Text.Json
@using RazorBarcodeLibrary

<PageTitle>Index</PageTitle>

<h1>Razor Barcode Library</h1>
<a>SDK Version: @version</a>

<div>
    <InputFile OnChange="LoadImage" />
    @if (imageSrc != null)
    {
        <div class="full-img">
            <img src="@imageSrc" />
        </div>
    }
</div>

<div>
    <button @onclick="Decode">Read Barcode</button>
    <p>@result</p>
</div>

@* <BarcodeReader />
<BarcodeScanner /> *@

@code {
    Reader? reader;
    BarcodeJsInterop? barcodeJsInterop;
    private MarkupString result;
    private string version = "N/A";
    private string? imageSrc;
    private async Task LoadImage(InputFileChangeEventArgs e)
    {
        result = new MarkupString("");
        var imageFiles = e.GetMultipleFiles();
        var format = "image/png"; 

        if (imageFiles.Count > 0)
        {
            var file = imageFiles.First();
            var maxAllowedSize = 20 * 1024 * 1024;
            var buffer = new byte[file.Size];
            await file.OpenReadStream(maxAllowedSize).ReadAsync(buffer);

            imageSrc = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        barcodeJsInterop = new BarcodeJsInterop(JSRuntime);
        await barcodeJsInterop.InitializeAsync();
        await barcodeJsInterop.SetLicense("DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ==");
        await barcodeJsInterop.LoadWasm();
        version = await barcodeJsInterop.GetVersion();
        StateHasChanged();
        reader = await barcodeJsInterop.CreateBarcodeReader();
    }

    public async Task Decode()
    {
        if (barcodeJsInterop == null || imageSrc == null || reader == null) return;
        try
        {
            JsonElement? tmp = await reader.Decode(imageSrc);
            if (tmp != null)
            {
                JsonElement element = tmp.Value;

                if (element.ValueKind == JsonValueKind.Array)
                {
                    string text = "";
                    foreach (JsonElement item in element.EnumerateArray())
                    {
                        if (item.TryGetProperty("barcodeFormatString", out JsonElement formatValue))
                        {
                            string? value = formatValue.GetString();
                            if (value != null)
                            {
                                text += "format: " + value + ", ";
                            }
                            
                        }

                        if (item.TryGetProperty("barcodeText", out JsonElement textValue))
                        {
                            string? value = textValue.GetString();
                            if (value != null)
                            {
                                text += "text: " + value + "<br>";
                            }
                            
                        }
                    }
                    result = new MarkupString(text);
                }
                
            }
            
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}