@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<a>SDK Version: @result</a>

<Component1 />
<button @onclick="Decode">Read Barcode</button>

@code {
    BarcodeJsInterop? barcodeJsInterop;
    private string result = "localhost";


    protected override async Task OnInitializedAsync()
    {
        barcodeJsInterop = new BarcodeJsInterop(JSRuntime);
        await barcodeJsInterop.InitializeAsync();
        await barcodeJsInterop.SetLicense("DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ==");
        await barcodeJsInterop.LoadWasm();
        result = await barcodeJsInterop.GetVersion();
    }

    public async Task Decode()
    {
        if (barcodeJsInterop == null) return;
        try
        {
            result = await barcodeJsInterop.GetVersion();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}